# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: NPM Publish

on:
  workflow_run:
    workflows: ["Update Material Symbols"]
    branches: [main]
    types: 
      - completed

jobs:
  check-for-update:
    runs-on: ubuntu-latest
    name: Check if symbols changed
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v23

      - name: List all changed files
        run: |
          hasChanges=false
          if [ ${{ steps.changed-files.outputs.any_changed }} = 'true']
          then
            hasChanges=true
            echo "$hasChanges"
          fi
        env:
          HAS_CHANGES: $hasChanges
          
  publish-npm:
    name: Update version and publish to npm
    runs-on: ubuntu-latest
    needs: check-for-update
    if: ${{ env.HAS_CHANGES == true }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node.js
        if: ${{ <expression> }}
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Update
        run: npm version patch
      - name: Commit version update
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'Package Version Update'
          add: '.'
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
