# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Update Material Symbols

on:
  schedule:
      # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Chetkout repo
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Create symbols folder
        run: mkdir -p symbols
      - name: Download latest material symbols
        run: npx @material-design-icons/scripts download svg --symbols --to ./symbols --weight 400 --size 20 
      - name: Commit symbol changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'Updated material svg symbols'
          add: 'symbols'
